.image-container {
    width: 100%;
    max-width: 350px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
}

.breed-title {
    text-transform: capitalize;
    font-size: 2.4rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 2px 2px 6px #222;
}

.muted-text {
    color: #777;
}
